<div class="row">
  <div class="col">
    <users-navbar>
    </users-navbar>
  </div>
</div>
<div class="row pt-3">
  <div class="col-3">
    <personal-info [personalInfoVO]="cvVO.personalInfoVO"
                   [editable]="authService.loggedInUserIsOnTheyPage(activatedRoute)"></personal-info>
  </div>
  <div class="col-9">
    <simple-text-card [editable]="authService.loggedInUserIsOnTheyPage(activatedRoute)" title="About" [length]="255"
                      [text]="cvVO.about"
                      (onSave)="saveAbout($event)"></simple-text-card>

    <div class="mt-2">
      <div class="card mt-2">
        <div class="card-header">
          Experiences
        </div>
        <div class="card-body">
          <div *ngFor="let experienceVO of cvVO.experiences">
            <p class="card-text">{{experienceVO?.company}} - {{experienceVO?.position}}
                                                           ({{experienceVO.startDate}} - {{experienceVO.endDate}})</p>
          </div>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-header">
          Languages
        </div>
        <div class="card-body">
          <div *ngFor="let languageVO of cvVO.languages">
            <p class="card-text">{{languageVO?.language}} - {{languageVO?.level}}</p>
          </div>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-header">
          Certifications
        </div>
        <div class="card-body">
          <div *ngFor="let certificationVO of cvVO.certifications">
            <p class="card-text">{{certificationVO?.name}} - {{certificationVO?.issuedBy}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
