<div class="row">
  <div class="col">
    <users-navbar>
    </users-navbar>
  </div>
</div>
<div class="row pt-3">
  <div class="col-3">
    <personal-info [personalInfoVO]="cvVO.personalInfoVO"
                   [editable]="authService.loggedInUserIsOnTheyPage(activatedRoute)"></personal-info>
  </div>
  <div class="col-9">
    <simple-text-card [editable]="authService.loggedInUserIsOnTheyPage(activatedRoute)" title="About" [length]="255"
                      [text]="cvVO.about"
                      (onSave)="saveAbout($event)"></simple-text-card>

    <div class=" mt-2">
      <experiences [experiences]="cvVO.experiences"
                   [editable]="authService.loggedInUserIsOnTheyPage(activatedRoute)"
                   (onSave)="saveExperiences($event)"></experiences>
    </div>

    <div class="card mt-2">
      <languages [languages]="cvVO.languages"
                 [editable]="authService.loggedInUserIsOnTheyPage(activatedRoute)"
                 (onSave)="saveLanguages($event)"></languages>
    </div>

    <div class="card mt-2">
      <certifications #certifications [certifications]="cvVO.certifications"
                      [editable]="authService.loggedInUserIsOnTheyPage(activatedRoute)"
                      (onSave)="saveCertifications($event)"></certifications>
    </div>
  </div>
</div>

