<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h5>{{title}}</h5>
      </div>
      <div class="col">
        <div class="float-right">
          <div class="row">
            <div class="mt-1">
              {{created | date : 'medium'}}
            </div>
            <div *ngIf="settingAvailable">
              <button class="btn btn-light" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-gear"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item btn btn-light" (click)="editPost()">Edit</button>
                <button class="dropdown-item btn btn-light" (click)="deletePost()">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="!editMode">
      {{contentToEdit}}
    </div>
    <div *ngIf="editMode">
      <textarea class="form-control" id="text" name="text" rows="5" [(ngModel)]="contentToEdit"></textarea>
      <div class="mt-1 float-right">
        <button class="btn btn-dark" type="button" (click)="save()">Save</button>
        <button class="btn btn-outline-dark ml-1" type="button" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
