<form *ngIf="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="saveProfile(changePasswordForm.value)"
      autocomplete="off"
      novalidate>

  <div class="form-group" [ngClass]="{'error': currentPassword.invalid && currentPassword.touched}">
    <div class="row">
      <div class="col-3">
        <label for="currentPassword">Current password:</label>
      </div>
      <div class="col-5">
        <input formControlName="currentPassword"
               class="form-control" id="currentPassword" name="currentPassword" type="password"/>
      </div>
      <div class="col">
        <em *ngIf="currentPassword.invalid && currentPassword.touched">Required</em>
      </div>
    </div>
  </div>

  <div class="form-group" [ngClass]="{'error': newPassword1.invalid && newPassword1.touched}">
    <div class="row">
      <div class="col-3">
        <label for="currentPassword">New password:</label>
      </div>
      <div class="col-5">
        <input formControlName="newPassword1"
               class="form-control" id="newPassword1" name="newPassword1" type="password" (ngModelChange)="newPasswordEdited()"/>
      </div>
      <div class="col">
        <em *ngIf="newPassword1.invalid && newPassword1.touched">{{messageForNewPassword1}}</em>
      </div>
    </div>
  </div>

  <div class="form-group" [ngClass]="{'error': newPassword2.invalid && newPassword2.touched}">
    <div class="row">
      <div class="col-3">
        <label for="newPassword2">New password again:</label>
      </div>
      <div class="col-5">
        <input formControlName="newPassword2"
               class="form-control" id="newPassword2" name="newPassword2" type="password" (ngModelChange)="newPasswordEdited()"/>
      </div>
      <div class="col">
        <em *ngIf="newPassword2.invalid && newPassword2.touched">{{messageForNewPassword2}}</em>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <button [disabled]="changePasswordForm.invalid" class="btn btn-dark" type="submit">Change password</button>
    </div>
  </div>
</form>
