<div class="row">
  <div class="col-3">
    <img src="assets/helmut_siegel.jpg" alt="Avatar" style="width:240px; border-radius: 50%">
  </div>
  <div class="col">
    <h2><b>Helmut Siegel</b></h2>
    <p style="font-size: x-large" class="text-secondary">Senior Java Full-Stack Engineer • Contractor •
      Freelancer</p>
    <p style="font-size: x-large; margin-bottom: 0">
      <i class="bi bi-envelope ml-1 mr-2 text-primary"></i>helmut.siegel.dev@gmail.com
    </p>
    <p style="font-size: x-large; margin-bottom: 0">
      <i class="bi bi-telephone ml-1 mr-2 text-primary"></i>+40 786 233 988
    </p>
    <p style="font-size: x-large; margin-bottom: 0">
      <i class="bi bi-geo-alt ml-1 mr-2 text-primary"></i>Cluj Napoca, Romania
    </p>
    <a style="font-size: xx-large;" target="_blank" href="https://www.linkedin.com/in/helmut-siegel/"><i
      class="bi bi-linkedin"></i></a>
    <a class="ml-2" style="font-size: xx-large;" target="_blank" href="skype:live:.cid.f39dfb83643bf1bc?chat"><i
      class="bi bi-skype"></i></a>
    <a class="ml-2" style="font-size: xx-large;" target="_blank" href="https://github.com/helmutsiegel"><i
      class="bi bi-github"></i></a>
  </div>
</div>
