<collapsible-card [title]="'Experience'" [collapsed]="false">
  <div *ngFor="let experienceVO of experiences" class="pt-1">
    <collapsible-card [collapsed]="false" [title]="experienceVO?.company+ ' - ' +experienceVO.position">
      <p class="card-text">Start date: {{experienceVO?.startDate | date: 'dd MMM YYYY'}}</p>
      <p class="card-text" *ngIf="experienceVO.endDate">End date: {{experienceVO?.endDate | date: 'dd MMM YYYY'}}</p>
      <p>Here comes the description</p>
    </collapsible-card>
  </div>
</collapsible-card>
