<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="nav-item active nav-button-active"
          [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li routerLinkActive="nav-item active nav-button-active"
          [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
    </ul>
  </div>
</nav>
