<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="nav-item active nav-button-active"
          [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['']">Home</a>
      </li>
      <li routerLinkActive="nav-item active nav-button-active"
          [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['users']">Users</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-1">
      <li routerLinkActive="nav-item">
        <a *ngIf="!isAuthenticated()" class="nav-link" [routerLink]="['users/login']">Login</a>
        <a *ngIf="isAuthenticated()" class="nav-link"
           [routerLink]="[currentUserTO?.userName, 'cv']">Welcome {{currentUserTO?.firstName}}</a>
      </li>
      <li routerLinkActive="nav-item">
        <a *ngIf="isAuthenticated()" class="nav-link" (click)="authService.logOut()" [routerLink]="['users/login']">Logout</a>
      </li>
    </ul>
  </div>
</nav>
