<div class="row">
  <div class="col">
    <users-navbar>
    </users-navbar>
  </div>
</div>
<div class="row pt-3" *ngIf="resumeVO">
  <div class="col-3">
    <personal-info [personalInfoVO]="resumeVO.personalInfoVO" [editable]="loggedInUserIsOnTheyPage()"></personal-info>
  </div>
  <div class="col-9">
    <simple-text-card [editable]="loggedInUserIsOnTheyPage()" title="About" [length]="2000" [text]="resumeVO.about"
                      (onSave)="saveAbout($event)"></simple-text-card>
    <div class="mt-2">
      <experiences [experiences]="resumeVO.experiences"></experiences>
    </div>
    <div class="mt-2">
      <languages [languages]="resumeVO.languages"></languages>
    </div>
    <div class="mt-2">
      <certifications [certifications]="resumeVO.certifications"></certifications>
    </div>
  </div>
</div>
