<div class="card">
  <div class="card-header">
    Navigator
    <button *ngIf="addChapterVisible" type="button"
            class="btn btn-primary float-right"
            data-toggle="modal"
            data-target="#createChapterModal">
      Add chapter
    </button>
  </div>
  <div class="card-body">
    <div class="mt-1" *ngFor="let chapter of chapters">
      <collapsible-card [collapsed]="false" [title]="chapter.title">
        <navigation-element *ngFor="let section of chapter.sections"
                            [sectionVO]="section"
                            [selected]="section === currentSection"
                            (onClick)="this.onClick.emit($event)">
        </navigation-element>
      </collapsible-card>
    </div>
  </div>
</div>
