<div class="row">
  <div class="col">
    <h2>{{projectVO.name}} - {{projectVO.fullName}}</h2>
  </div>
  <div class="col">
    <button (click)="clickDescription()" class="btn btn-dark float-right">{{descriptionButtonLabel}}</button>
  </div>
</div>
<simple-text-card *ngIf="descriptionButtonLabel === closeDescription"
                  [editable]="authService.loggedInUserIsOnTheyPage(activatedRoute)" title="Description"
                  [text]="projectVO.description">
</simple-text-card>
<div class="row mt-1" *ngIf="projectVO.chapters.length > 0">
  <div class="col-3">
    <project-navigator [chapters]="projectVO.chapters"
                       (onClick)="navigateToSection($event)"
                       [addChapterVisible]="authService.loggedInUserIsOnTheyPage(activatedRoute)"
                       [currentSection]="currentSection">
    </project-navigator>
  </div>
  <div class="col">
    <simple-text-card #textCard [title]="currentSection.title"
                      [text]="currentSection.description"
                      [editable]="authService.loggedInUserIsOnTheyPage(activatedRoute)"
                      (onSave)="saveSection($event)">
    </simple-text-card>
  </div>
</div>

<div class="mt-3" *ngIf="projectVO.chapters.length === 0">
  <div class="row">
    <div class="col font-italic text-secondary">
      <h4>You don't have any documentation for this project.<br> Create your first chapter</h4>
    </div>
  </div>
  <create-chapter (onCreate)="createChapter($event)"></create-chapter>
</div>
<simple-modal #createChapterModal [title]="'Create chapter'" [modalId]="'createChapterModal'">
  <create-chapter (onCreate)="createChapter($event)"></create-chapter>
</simple-modal>

