<div class="row">
  <div class="col">
    <h2>{{projectVO.name}} - {{projectVO.fullName}}</h2>
  </div>
  <div class="col">
    <button (click)="clickDescription()" class="btn btn-dark float-right">{{descriptionButtonLabel}}</button>
  </div>
</div>
<simple-text-card *ngIf="descriptionButtonLabel === closeDescription"
                  [editable]="loggedInUserIsOnTheyPage()" title="Description" [text]="projectVO.description">
</simple-text-card>
<div class="row mt-1" *ngIf="projectVO">
  <div class="col-3">
    <project-navigator [chapters]="projectVO.chapters" (onClick)="navigateToSection($event)"></project-navigator>
  </div>
  <div class="col">
    <simple-text-card #textCard [title]="currentSection.title"
                      [text]="currentSection.description"
                      [editable]="loggedInUserIsOnTheyPage()">
    </simple-text-card>
  </div>
</div>
