<div class="card">
  <span>Name: {{user.firstName +' '+ user.lastName}}</span>
  <span>Name: {{user.userName}}</span>
<!--  <span [ngClass]="{'red': user?.age === 25, 'bold': user?.age === 35}">-->
<!--    Age: {{user?.age}}-->
<!--  </span>-->
  <span>Title: {{user.title}}</span>

<!--  <div [ngSwitch]="user?.yearsOfExperience"-->
<!--       [class.red]="user?.yearsOfExperience !== 1 && user?.yearsOfExperience !== 2">-->
<!--    Seniority:-->
<!--    <span *ngSwitchCase="1">Junior</span>-->
<!--    <span *ngSwitchCase="2">Mid</span>-->
<!--    <span *ngSwitchDefault>Senior</span>-->
<!--  </div>-->
  <a class="btn btn-dark" routerLink="/cv">Go to my page</a>
</div>
