<h2>About the project</h2>
<hr>
<p>
  My name is Helmut Siegel, I am a software developer with 5 years of experience. I am passionate about learning and
  gaining my professional knowledge.
  That is why I started to develop this project. My daily routine starts with an hour of learning, and
  in this one hour, mostly I learn things related to my profession as a Full-Stack software developer. My main focus is
  on Java and Angular.
  I watch professional courses in this area, and then I figure out possibilities in this project, to implement the
  learned things.
</p>
<h5>Courses:</h5>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Platform</th>
    <th scope="col">Link</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let course of courses; let indexElement=index">
    <th scope="row">{{indexElement}}</th>
    <td>{{course.title}}</td>
    <td>{{course.author}}</td>
    <td>{{course.platform}}</td>
    <td><a target="_blank" href="{{course.link}}">Click here</a></td>
    <td [ngClass]="getClassForStatus(course)">
      {{course.status}}</td>
  </tr>
  </tbody>
</table>
